/*doc
---
title: Input
name: input
category: Content
---

Content styles for `<input>` form elements. Form inputs are built to fill the width their parent container. Box-sizing is used to allow for consistent and more maintainable code, i.e. using `width: 100%;` combined with `padding`.

Class                       | Description
----------------------------| ---------------------------------------------------------------
`.input`                    | base object name, applied to all `<input>` elements.


```html_example
<input class="input" type="text" type="search" role="search" placeholder="default input" />
```
*/
.input {
    width: 100%;
    padding: 12px 14px;
    margin: 0;
    border: 1px solid $COLOR_LIGHT_GREY;
    font-size: $FONT_SIZE_LARGE;
    background-color: #ffffff;
    @include box-sizing(border-box);
    @include appearance(none);
}