<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>Weather App</title>

    <!-- STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="assets/styles/screen.css" />
</head>
<body>
