<div class="header" role="banner">
    <div class="header-content">
        <div class="header-content-wrapper">
            <div class="header-content-wrapper-left">
                <div class="headerContent">
                    <a href="/weather">
                        <img src="assets/media/images/t3-logo.png" alt="">
                    </a>
                </div>
                <div class="headerContent">
                    <a href="/weather">
                        <h1 class="hdg hdg_3">Weather App</h1>
                    </a>
                </div>
            </div>
            <div class="header-content-wrapper-right">
                <ul class="hList" role="navigation">
                    <li>
                        <a href="/weather/styleguide/index.html">Styleguide</a>
                    </li>
                    <li>
                        <a href="/weather/about.html">About This Site</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>