<div class="wrapper" role="main">
    include "search.html"
    <div class="section">
        <div class="box js-weatherContainer box_shadow box_hidden">
            <div class="pulser js-pulser pulser_hidden">
                <div class="pulser-icon">
                    <div class="pulser-icon-pulse"></div>
                    <div class="pulser-icon-pulse2"></div>
                </div>
            </div>
            <div class="js-weatherInfo">
                <!-- Handlebars Template Rendered Here -->
            </div>
        </div>
    </div>
</div>