/* ----------------------------------------------------------------
 * Header Medium Breakpoint
 * ------------------------------------------------------------- */
.header {
    text-align: left;
    padding: 0;
}

.header-content-wrapper {
    display: table;
    width: 100%;
}

.header-content-wrapper > * {
    display: table-cell;
}

.header-content-wrapper-left {
    padding: 0;
}

.header-content-wrapper-right {
    text-align: right;
}