/*doc
---
title: Vertical List
name: vList
category: Layout
---

The Vertical List layout object controls the vertical separation of list items. This object has a predictable markup structure. The `.vList` base class is applied to either an `<ul>` or `<ol>` element. These elements only support one direct child, the `<li>`.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.vList`                    | Base class.
`.vList_sm`                 | Base extension altering the vertical rhythm.

```
<ul class="vList">
    <li>
        <!-- Content here. -->
    </li>
    <li>
        <!-- Content here. -->
    </li>
</ul>
```
*/
.vList > * {
    display: block;
}

.vList > * + * {
	margin-top: 8px;
}

.vList_clean > * + * {
	margin-top: 0;
}

.vList_divided > * + * {
    padding-top: 14px;
    border-top: 1px solid #cccccc;
}

.vList_bulleted > * {
    display: list-item;
    list-style-type: disc;
    margin-left: 35px;
}