/*doc
---
title: Pulser
name: pulser
category: Content
---

The Pulser object is a content object that styles a loading animation. #2kewl4skewl

Since the Pulser is absolutely positioned it needs to be wrapped in an element with relative padding. Unless you want it to be full screen.

Class                       | Description
----------------------------| ---------------------------------------------------------------
`.pulser`                  | Base element
`.pulser-icon`             | Child element, positions the animation
`.pulser-icon-pulse`       | Child element, animation applied here
`.pulser-icon-pulse2`      | Child element, animation applied here

```html_example
<div class="box">
  <div class="pulser">
      <div class="pulser-icon">
          <div class="pulser-icon-pulse"></div>
          <div class="pulser-icon-pulse2"></div>
      </div>
  </div>
</div>
```
*/
.pulser {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
}

.pulser-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    top: 50%;
    left: 50%;
}

.pulser_hidden {
    display: none;
}

.pulser-icon-pulse, .pulser-icon-pulse2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $COLOR_RED;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.pulser-icon-pulse2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}