// Fonts
$FONT_OPEN: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
$FONT_OSWALD: 'Oswald', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;

// Font Weights
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

// Font-Size
$FONT_SIZE_DEFAULT: 14px;
$FONT_SIZE_LARGE: 16px;
$FONT_SIZE_SMALL: 12px;

// Colors
$COLOR_DEFAULT: #222222;
$COLOR_LIGHT_GREY: #e2e2e2;
$COLOR_RED: #ef3525;
